big-calendar==0.0.0
-e git+https://github.com/treegem/BigCalendar@b14cc14d6bc61ac3765d164abd8ed553606e2339#egg=BigCalendar
click==6.7
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
