{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
{% if add=='True' %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <dl>
        <dt>Datum:</dt>
        <dd><input type=date name="date"></dd>
        <dt>Details (optional):
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Abschicken>
    </dl>
</form>
{% endif %}
{% endif %}
<ul class=entries>
    {% for entry in entries %}
        <li {% if entry.available==0 %} class="cannot" {% elif entry.available==1 %} class="can" {% elif entry.available==2 %} class="dunno" {% endif %} id=entry.id>
            <h2>{{ entry.concert_date }}</h2>
        {% if session.logged_in %}
            {{ entry.text|safe }}
            <form>
                <input type="checkbox" name="yes" value=1 id={{"yes_"+entry.id|string}} {% if entry.available==1 %} checked="checked" {% endif %}><label for="yes">Ich kann!</label>
                <input type="checkbox" name="no" value=1 id={{"no_"+entry.id|string}} {% if entry.available==0 %} checked="checked" {% endif %}><label for="no">Ich kann nicht!</label>
            </form>
        {% endif %}
    {% else %}
    <li><em>Nichts los.</em>

        {% endfor %}
</ul>
{% endblock %}